---
import Layout from '@layouts/Default.astro';
import RepoList from "../../components/repositories/RepoList.tsx"


async function fetchUserRepositories(username, token) {
  const url = `https://api.github.com/users/${username}/repos`;

  const response = await fetch(url, {
    method: 'GET',
    headers: {
      'Authorization': `token ${token}`,
      'Accept': 'application/vnd.github.v3+json',
    },
  });

  if (!response.ok) {
    throw new Error(`Error fetching repositories: ${response.statusText}`);
  }

  const repositories = await response.json();
  return repositories;
}

  const username = import.meta.env.GITHUB_USERNAME;
  const token = import.meta.env.GITHUB_TOKEN;

  const repos = await fetchUserRepositories(username, token);

---
<Layout
  title='Repositories'
  description='description'
  pageTitle='Repositories'
>
  <main class='bg-green p-6 space-y-4'>
    <RepoList repos={repos}/>
  </main>
</Layout>
