---
import Layout from '@layouts/Default.astro';
import { Button } from "@eliancodes/brutal-ui";
import { supabase } from "../../lib/supabase";
import RepositoryList from "../../components/repositories/RepositoryList.astro"


// Get user session
const { data: { session } } = await supabase.auth.getSession();
const userEmail = session?.user?.email;

async function fetchUserRepositories(username, token) {
  const url = `https://api.github.com/users/${username}/repos`;

  const response = await fetch(url, {
    method: 'GET',
    headers: {
      'Authorization': `token ${token}`,
      'Accept': 'application/vnd.github.v3+json',
    },
  });

  if (!response.ok) {
    throw new Error(`Error fetching repositories: ${response.statusText}`);
  }

  const repositories = await response.json();
  return repositories;
}

// Example usage
const username = 'norMNfan';
const token = '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';

const repositories = fetchUserRepositories(username, token)
  .then(repos => {
    console.log('User Repositories:', repos);
  })
  .catch(error => {
    console.error('Error:', error);
  });

---
<Layout
  title='Repositories'
  description='description'
  pageTitle='Repositories'
>
  <main class='bg-white p-6 space-y-4'>
    <Button href={`/switches/create_switch`} color="green">Fix Bugs (TODO)</Button>
    <RepositoryList repositories={repositories} />
  </main>
</Layout>
