---
import Layout from '@layouts/Default.astro';
import { Card } from '@eliancodes/brutal-ui';
import { supabase } from "../lib/supabase";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

// Only attempt to set the session if we have both tokens
let session;
if (accessToken && refreshToken) {
  try {
    session = await supabase.auth.setSession({
      refresh_token: refreshToken.value,
      access_token: accessToken.value,
    });
    if (session.error) {
      Astro.cookies.delete("sb-access-token", {
        path: "/",
      });
      Astro.cookies.delete("sb-refresh-token", {
        path: "/",
      });
    }
  } catch (error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });
  }
}
---

<Layout
  title='Home'
  pageTitle='Bug Buddy | Home'
  description='Bug Buddy description'
>
  <main class='bg-pink p-6'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Bug Buddy</h2>
      <div class='col-span-4'>
        <Card>
          <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
            Bug Buddy is a simple app that allows you to squash those pesky bugs immediately after your changes are deployed.
          </p>
        </Card>
      </div>
    </section>
  </main>
</Layout>
